$idle-color: #399cb3;
$idle-shine-color: #a8f3ff;
$active-color: #b3663d;
$active-shine-color: #f6e2c6;
$control-primary-color: #525980;
$control-primary-color_active: #807168;
$error-color: #ff113a;
$error-text: #eeeeee;
